<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>JPAconJSF</title>
    </h:head>
    <h:body>
    	<h2>Agenda Web</h2>
    	
    	
    	
    	<h:dataTable value="#{Agenda.listaAgenda}" var="a" >
    	
    		<h:column>
    		<f:facet name="header">ID</f:facet>
    		<h:outputLabel value="#{a.id}"/>
    		</h:column>
    		
    		<h:column>
    		<f:facet name="header">Nombre</f:facet>
    		<h:outputLabel value="#{a.nombre}"/>
    		</h:column>
    		
    		<h:column>
    			<f:facet name="header">Numero</f:facet>
    	
    			#{a.numero}
    		</h:column>
    	</h:dataTable>
    </h:body>
</html>
